body {
  background-color: #212529;
  height: 100%;
  margin: 0;
}

.ace_tooltip {
  background-color: #343a40;
  color: #dee2e6;
}

.ace_status-indicator {
  color: #dee2e6;
  position: relative;
  bottom: 4px;
  border-left: 1px solid;
  border-right: 1px solid;
  height: 20px;
  float: right;
  padding-left: 5px;
  padding-right: 5px;
}

#ace_settingsmenu,
#kbshortcutmenu {
  background-color: rgb(33, 37, 41);
  color: rgb(222, 226, 230);
  box-shadow: -20px 10px 25px rgba(26, 26, 26, 0.25);
  padding: 1em 0.5em 2em 1em;
  overflow: auto;
  position: absolute;
  margin: 0;
  bottom: 0;
  right: 0;
  top: 0;
  z-index: 9991;
  cursor: default;
}

.ace_optionsMenuEntry:hover {
  background-color: #161719;
  transition: all 0.3s
}

.ace_closeButton {
  background: rgba(245, 146, 146, 0.5);
  border: 1px solid #F48A8A;
  border-radius: 50%;
  padding: 7px;
  position: absolute;
  right: -8px;
  top: -8px;
  z-index: 100000;
}

.ace_closeButton {
  background: rgba(245, 146, 146, 0.9);
}

.ace_optionsMenuKey {
  color: #dee2e6;
  font-weight: bold;
}

.ace_optionsMenuCommand {
  color: #6ea8fe;
  font-weight: normal;
}

.ace_optionsMenuEntry input,
.ace_optionsMenuEntry button {
  vertical-align: middle;
}

.ace_optionsMenuEntry button[ace_selected_button=true] {
  background: #e7e7e7;
  box-shadow: 1px 0px 2px 0px #adadad inset;
  border-color: #adadad;
}

.ace_optionsMenuEntry button {
  background: white;
  border: 1px solid lightgray;
  margin: 0px;
}

.ace_optionsMenuEntry button:hover {
  background: #f0f0f0;
}

.ace_prompt_container {
  max-width: 603px;
  width: 100%;
  margin: 70px auto;
  padding: 3px;
  background: #2b3035;
  border-radius: 2px;
  box-shadow: 0px 2px 3px 0px #555;
}

/* ------------------------------------------------------------------------------------------
* Editor Search Form
* --------------------------------------------------------------------------------------- */
.ace_search {
  background-color: #2b3035;
  color: #dee2e6;
  border: 1px solid #495057;
  border-top: 0 none;
  overflow: hidden;
  margin: 0;
  padding: 4px 6px 0 4px;
  position: absolute;
  top: 0;
  z-index: 99;
  white-space: normal;
}

.ace_search.left {
  border-left: 0 none;
  border-radius: 0px 0px 5px 0px;
  left: 0;
}

.ace_search.right {
  border-radius: 0px 0px 0px 5px;
  border-right: 0 none;
  right: 0;
}

.ace_search_form,
.ace_replace_form {
  margin: 0 20px 4px 0;
  overflow: hidden;
  line-height: 1.9;
}

.ace_replace_form {
  margin-right: 0;
}

.ace_search_form.ace_nomatch {
  outline: 1px solid red;
}

.ace_search_field {
  border-radius: 3px 0 0 3px;
  background-color: #343a40;
  color: #dee2e6;
  border: 1px solid #41464b;
  border-right: 0 none;
  outline: 0;
  padding: 0;
  font-size: inherit;
  margin: 0;
  line-height: inherit;
  padding: 0 6px;
  min-width: 17em;
  vertical-align: top;
  min-height: 1.8em;
  box-sizing: content-box;
}

.ace_searchbtn {
  border: 1px solid #6c757d;
  line-height: inherit;
  display: inline-block;
  padding: 0 6px;
  background: #343a40;
  border-right: 0 none;
  border-left: 1px solid #6c757d;
  ;
  cursor: pointer;
  margin: 0;
  position: relative;
  color: #fff;
}

.ace_searchbtn:last-child {
  border-radius: 0 3px 3px 0;
  border-right: 1px solid #6c757d;
}

.ace_searchbtn:disabled {
  background: none;
  cursor: default;
}

.ace_searchbtn:hover {
  background-color: #161719;
}

.ace_searchbtn.prev,
.ace_searchbtn.next {
  padding: 0px 0.7em
}

.ace_searchbtn.prev:after,
.ace_searchbtn.next:after {
  content: "";
  border: solid 2px #6c757d;
  width: 0.5em;
  height: 0.5em;
  border-width: 2px 0 0 2px;
  display: inline-block;
  transform: rotate(-45deg);
}

.ace_searchbtn.next:after {
  border-width: 0 2px 2px 0;
}

.ace_searchbtn_close {
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA4AAAAcCAYAAABRVo5BAAAAZ0lEQVR42u2SUQrAMAhDvazn8OjZBilCkYVVxiis8H4CT0VrAJb4WHT3C5xU2a2IQZXJjiQIRMdkEoJ5Q2yMqpfDIo+XY4k6h+YXOyKqTIj5REaxloNAd0xiKmAtsTHqW8sR2W5f7gCu5nWFUpVjZwAAAABJRU5ErkJggg==) no-repeat 50% 0;
  border-radius: 50%;
  border: 0 none;
  color: #343a40;
  cursor: pointer;
  font: 16px/16px Arial;
  padding: 0;
  height: 14px;
  width: 14px;
  top: 9px;
  right: 7px;
  position: absolute;
}

.ace_searchbtn_close:hover {
  background-color: #656565;
  background-position: 50% 100%;
  color: white;
}

.ace_button {
  background-color: #343a40;
  margin-left: 2px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  -ms-user-select: none;
  user-select: none;
  overflow: hidden;
  opacity: 0.7;
  border: 1px solid #6c757d;
  padding: 1px;
  box-sizing: border-box !important;
  color: #fff;
}

.ace_button:hover {
  background-color: #161719;
  opacity: 1;
}

.ace_button:active {
  background-color: #6c757d;
  ;
}

.ace_button.checked {
  background-color: #6c757d;
  border-color: #6c757d;
  opacity: 1;
}

.ace_search_options {
  margin-bottom: 3px;
  text-align: right;
  -webkit-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  -ms-user-select: none;
  user-select: none;
  clear: both;
}

.ace_search_counter {
  float: left;
  font-family: arial;
  padding: 0 8px;
}

/* ----------------
*  End Ace Search
*  --------------- */

code {
  color: #e685b5
}

.navbar-default .navbar-nav>li>a {
  color: #fff;
}


.navbar-text {
  padding: 0;
  padding-right: 10px;
  position: relative;
}

.navbar-nav>li>a {
  padding-top: 10px;
  padding-bottom: 10px;
  line-height: 20px;
}

// @media (min-width: 768px) {
//   .navbar-nav>li>a {
//     padding-top: 15px;
//     padding-bottom: 15px;
//   }
// }

.nav>li>a {
  position: relative;
  display: block;
  padding: 10px 15px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.navbar-nav .dropdown-menu {
  position: absolute;
  left: .5rem;
}

.modal-title {
  color: #fff;
}

.modal-body button {
  color: #fff
}


.ace_dark.ace_editor.ace_autocomplete .ace_completion-highlight {
  color: #c678dd;
}

.ace_dark.ace_editor.ace_autocomplete .ace_marker-layer .ace_active-line {
  background-color: rgba(76, 87, 103, .19);
}

.ace_dark.ace_editor.ace_autocomplete .ace_line-hover {
  border: 1px solid rgba(8, 121, 144, 0.5);
  background: rgba(76, 87, 103, .19);
}

.ace_dark.ace_editor.ace_autocomplete {
  border: 1px #484747 solid;
  box-shadow: 2px 3px 5px rgba(0, 0, 0, 0.51);
  line-height: 1.4;
  background: #282c34;
  color: #c1c1c1;
}

.ace_editor.ace_autocomplete {
  width: 300px;
  z-index: 200000;
  border: 1px #484747 solid;
  position: fixed;
  box-shadow: 2px 3px 5px rgba(0, 0, 0, 0.51);
  line-height: 1.4;
  background: #282c34;
  color: #c1c1c1;
}

.ace_editor.ace_autocomplete .ace_completion-highlight {
  color: #c678dd;
}

.ace_editor.ace_autocomplete .ace_marker-layer .ace_active-line {
  background-color: rgba(76, 87, 103, .19);
}

.ace_editor.ace_autocomplete .ace_line-hover {
  border: 1px solid rgba(8, 121, 144, 0.5);
  background: rgba(76, 87, 103, .19);
}

.vm_ic_active_line {
  position: absolute;
  background: rgba(121, 82, 179, 0.4);
  z-index: 20;
}

.vm_reg {
  overflow-x: auto;
  overflow-y: auto;
  max-width: 180rem;
  max-height: 20rem;
  align-content: flex-end
}

// .vm_unset_reg .input-group {
//   width: inherit;
// }

.vm_reg_cel {
  max-width: 20rem;
  height: 24px;
}

.vm_reg_cel span {
  min-width: 2.5rem;
  height: 22px;
}

.vm_reg_cel span.reg_label {
  width: 6rem;
  height: 22px;
  overflow-x: auto;
  overflow-y: auto;
}

.vm_reg_cel input {
  max-width: 8rem;
  min-width: 3rem;
  background-color: var(--bs-body-bg);
  height: 22px;
}

#vmActiveIC {
  min-width: 28rem;
}

#editor {
  min-width: 32em;
}

#vmActiveICState hr {
  margin: 0.25rem 0;
}