body {
  background-color: #212529;
  height: 100%;
  margin: 0;
}

.ace_tooltip {
  background: #282c34;
  color: #c1c1c1;
  border: 1px #484747 solid;
  box-shadow: 2px 3px 5px rgba(0, 0, 0, 0.51);
}

.ace_tooltip.ace_dark {
  background: #282c34;
  color: #c1c1c1;
  border: 1px #484747 solid;
  box-shadow: 2px 3px 5px rgba(0, 0, 0, 0.51);
}


#ace_settingsmenu,
#kbshortcutmenu {
  background-color: rgb(33, 37, 41);
  color: rgb(222, 226, 230);
  box-shadow: -20px 10px 25px rgba(26, 26, 26, 0.25);
  padding: 1em 0.5em 2em 1em;
  overflow: auto;
  position: absolute;
  margin: 0;
  bottom: 0;
  right: 0;
  top: 0;
  z-index: 9991;
  cursor: default;
}

.ace_optionsMenuEntry:hover {
  background-color: #161719;
  transition: all 0.3s
}

.ace_closeButton {
  background: rgba(245, 146, 146, 0.5);
  border: 1px solid #F48A8A;
  border-radius: 50%;
  padding: 7px;
  position: absolute;
  right: -8px;
  top: -8px;
  z-index: 100000;
}

.ace_closeButton {
  background: rgba(245, 146, 146, 0.9);
}

.ace_optionsMenuKey {
  color: #dee2e6;
  font-weight: bold;
}

.ace_optionsMenuCommand {
  color: #6ea8fe;
  font-weight: normal;
}

.ace_optionsMenuEntry input,
.ace_optionsMenuEntry button {
  vertical-align: middle;
}

.ace_optionsMenuEntry button[ace_selected_button=true] {
  background: #e7e7e7;
  box-shadow: 1px 0px 2px 0px #adadad inset;
  border-color: #adadad;
}

.ace_optionsMenuEntry button {
  background: white;
  border: 1px solid lightgray;
  margin: 0px;
}

.ace_optionsMenuEntry button:hover {
  background: #f0f0f0;
}

.ace_prompt_container {
  max-width: 603px;
  width: 100%;
  margin: 70px auto;
  padding: 3px;
  background: #2b3035;
  border-radius: 2px;
  box-shadow: 0px 2px 3px 0px #555;
}


code {
  // color: #e685b5
  color: #c678dd;
}

.ace_tooltip code {
    font-style: italic;
    font-size: 12px;
}

.navbar-default .navbar-nav>li>a {
  color: #fff;
}

.navbar-text {
  padding: 0;
  padding-right: 10px;
  position: relative;
  color: #fff;
}

.navbar-nav>li>a {
  padding-top: 10px;
  padding-bottom: 10px;
  line-height: 20px;
}

// @media (min-width: 768px) {
//   .navbar-nav>li>a {
//     padding-top: 15px;
//     padding-bottom: 15px;
//   }
// }

.nav>li>a {
  position: relative;
  display: block;
  padding: 10px 15px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.navbar-nav .dropdown-menu {
  position: absolute;
  left: .5rem;
}

.modal-title {
  color: #fff;
}

.modal-body button {
  color: #fff
}


.ace_dark.ace_editor.ace_autocomplete .ace_completion-highlight {
  color: #c678dd;
}

.ace_dark.ace_editor.ace_autocomplete .ace_marker-layer .ace_active-line {
  background-color: rgba(76, 87, 103, .19);
}

.ace_dark.ace_editor.ace_autocomplete .ace_line-hover {
  border: 1px solid rgba(8, 121, 144, 0.5);
  background: rgba(76, 87, 103, .19);
}

.ace_dark.ace_editor.ace_autocomplete {
  border: 1px #484747 solid;
  box-shadow: 2px 3px 5px rgba(0, 0, 0, 0.51);
  line-height: 1.4;
  background: #282c34;
  color: #c1c1c1;
}

.ace_editor.ace_autocomplete {
  width: 300px;
  z-index: 200000;
  border: 1px #484747 solid;
  position: fixed;
  box-shadow: 2px 3px 5px rgba(0, 0, 0, 0.51);
  line-height: 1.4;
  background: #282c34;
  color: #c1c1c1;
}

.ace_editor.ace_autocomplete .ace_completion-highlight {
  color: #c678dd;
}

.ace_editor.ace_autocomplete .ace_marker-layer .ace_active-line {
  background-color: rgba(76, 87, 103, .19);
}

.ace_editor.ace_autocomplete .ace_line-hover {
  border: 1px solid rgba(8, 121, 144, 0.5);
  background: rgba(76, 87, 103, .19);
}

.vm_ic_active_line {
  position: absolute;
  background: rgba(121, 82, 179, 0.4);
  z-index: 20;
}

.vm_accordion .accordion-button {
  padding-top: 0.2rem;
  padding-bottom: 0.2rem;
}

.vm_accordion .accordion-header {
  line-height: 0.75rem;
}

.vm_reg {
  overflow-x: auto;
  overflow-y: auto;
  max-width: 180rem;
  max-height: 20rem;
  font-size: 14;
}

// .vm_unset_reg .input-group {
//   width: inherit;
// }

.vm_reg_cel {
  max-width: 20rem;
  height: 24px;
}

.vm_reg_cel span {
  min-width: 2.5rem;
  height: 22px;
  font-size: 0.875rem;
}

.vm_reg_cel span.reg_label {
  width: 6rem;
  height: 22px;
  overflow-x: auto;
  padding-left: 0.125rem;
  padding-top: 0;
  padding-bottom: 0;
  padding-right: 0.25rem;
  font-size: 0.75rem;
}

.vm_reg_cel input {
  max-width: 8rem;
  min-width: 3rem;
  background-color: var(--bs-body-bg);
  height: 22px;
  font-size: 0.875rem;
}

#vmActiveIC {
  min-width: 28rem;
}

#editor {
  min-width: 32em;
}

#vmActiveICState hr {
  margin: 0.25rem 0;
}

.vm_stack {
  overflow-x: auto;
  overflow-y: auto;
  max-width: 180rem;
  height: 10rem;
}

.vm_stack_cel {
  max-width: 20rem;
  height: 24px;
}

.vm_stack_cel span {
  width: 2.5rem;
  height: 22px;
}

.vm_stack_cel input {
  max-width: 5rem;
  background-color: var(--bs-body-bg);
  height: 22px;
}

.vm_stack_cel .input-group-text {
  border-radius: 0;
}

.vm_stack_cel span.stack_pointer  {
  background-color: var(--bs-success);
}

.vm_device_summary button.btn {
  line-height: 0.75rem;

}

.vm_device_summary span.badge {
  line-height: 0.5rem;
  font-size: 0.65rem;
}

#vmDevices {
  height: 40vh;
}

#vmDevicesOCBody .card {
  width: 24rem;
}

#vmDevicesOCBody .input-group-text.field_name {
  // width: 7rem;
  width: 10rem;
  padding-right: auto;
}

#vmDevicesOCBody .input-group-text {
  width: 5rem;
}

#vmDevicesOCBody input {
  width: 7rem;
  background-color: var(--bs-body-bg);
}
