body {
  background-color: #212529;
  height: 100%;
  margin: 0;
}
.ace_tooltip {
  background-color: #343a40;
  color: #dee2e6;
}
.ace_status-indicator {
  color: #dee2e6;
  position: relative;
  right: 10px;
  left: 5px;
  bottom: 4px;
  border-left: 1px solid;
  border-right: 1px solid;
  height: 20px;
  float: right;
  padding-left: 5px;
  padding-right: 5px;
}
code {
  color: #e685b5
}
.navbar {
  position: relative;
  min-height: 30px;
  margin-bottom: 5px;
  border: 1px solid;
  padding: 0;

}
.navbar-default {
  background-color: #343a40 ;
  border-color: #495057;
}
@media (min-width: 768px) {
  .navbar {
    border-radius: 4px;
  }
}
.navbar-brand {
  float: left;
  padding: 5px 5px;
  font-size: 18px;
}
.navbar-default .navbar-brand {
  color: #fff;
  text-wrap: nowrap;
  white-space: nowrap;
}

.navbar-brand a {
  text-decoration: none;
}

.nav {
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
  flex-wrap: nowrap;
}

ol, ul {
  margin-top: 0;
  margin-bottom: 5px;
}
.nav > li {
  position: relative;
  display: block;
}
.navbar-default .navbar-nav > li > a {
  color: #fff;
}
.navbar-default .navbar-text {
  color: #fff;
  text-wrap: nowrap;
  white-space: nowrap;
}
.navbar-text {
  padding: 0;
  position: relative;
}
.navbar-nav {
  display: block;
}
@media (min-width: 768px) {
  .navbar-header {
    float: left;
  }
}
@media (min-width: 768px) {
    .navbar > .container .navbar-brand, .navbar > .container-fluid .navbar-brand {
    margin-left: -15px;
    }
}
@media (min-width: 768px) {
  .navbar-nav {
    float: left;
    margin: 0;
  }
}
.navbar-nav > li > a {
  padding-top: 10px;
  padding-bottom: 10px;
  line-height: 20px;
}
@media (min-width: 768px) {
  .navbar-nav > li > a {
    padding-top: 15px;
    padding-bottom: 15px;
  }
}
.nav > li > a {
  position: relative;
  display: block;
  padding: 10px 15px;
    padding-top: 10px;
    padding-bottom: 10px;
}
@media (min-width: 768px) {
  .navbar-text {
    float: left;
  }
}
.navbar-nav > p {
  margin-bottom: 0;
  display: inline-block;
}
.navbar-nav .dropdown-menu {
  position: absolute;
}
.modal-title {
  color: #fff;
}
.modal-body button {
  color: #fff
}
